html{
	background-color: LightGoldenRodYellow;
}

.text-body{
	left-margin: 10em;
	right-margin: auto;
	width: 20em;
	text-align: justify;
}

.grid
{
	display: grid;
	grid-template-columns: 50% 50%;
	justify-items: center;
}

.selfPhoto
{
	width: 1fr 1fr;
	grid-column: 2;
}

.about-text{
	grid-column: 1;
}
