html{
	background-color: LightGoldenRodYellow;
}

.text-body{
	margin-left: auto;
	width: 30em;
	text-align: justify;
}

.grid
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 9fr;
	justify-items: center;
	grid-gap: 5em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0em;
}

.selfPhoto
{
	padding: 2em;
	background-color: white;
	margin-right:auto;
	width: 20em;
	grid-column: 2;
	grid-row: 2;
}

.about-text{
	margin-top: auto;
	margin-bottom: auto;
	padding: 2em;
	background-color: white;
	grid-column: 1;
	grid-row: 2;
}

.whiteHeaderBar{
	height: 100%;
	width: 100%;
	background-color: white;
	grid-row: 1;
	grid-column: 1 / 3;
}

.headerGrid{
	display: grid;
	grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}

.homeBut{
	grid-row: 1;
	grid-column: 1;
}

.aboutBut{
	grid-row: 1;
	grid-column: 3;
	text-decoration: underline;
}

.workBut{
	grid-row: 1;
	grid-column: 4;
}

.resumeBut{
	grid-row: 1;
	grid-column: 5;
}

.contactBut{
	grid-row: 1;
	grid-column: 6;
}
