<nav data-include="header" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <a class="nav-item nav-link rounded" href="/"
                   style="background-color:white; color:black; margin-right: 10px;">Home</a>
                <a class="nav-item nav-link rounded" href="/projects"
                   style="background-color:white; color:black; margin-right: 10px;">Projects</a>
                <a class="nav-item nav-link rounded" href="/blog"
                   style="background-color:white; color:black; margin-right: 10px;">Blog</a>
                <a class="nav-item nav-link rounded" href="/ttt"
                   style="background-color:white; color:black; margin-right: 10px;">TTT</a>
                <a class="nav-item nav-link rounded" href="mailto:connor.kilgore@gmail.com"
                   style="background-color:white; color:black; margin-right: 10px;">Contact</a>
            </ul>
        </div>
    </div>
</nav>
<br><br>
