.cell{
    width: 50px;
    height: 50px;
    vertical-align: middle;
    font-size: 20px;
}

.board0{
    margin-left: 0px;
}

.board1{
    margin-left: 150px;
}

.board2{
    margin-left: 300px;
}

.end-condition{
    margin-bottom: 50px;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hljs {
    color: #f1eff8;
    background: #292a44;
}

pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}

pre code {
    letter-spacing: -0.3px;
    line-height: 1rem;
}

.hljs-keyword {
    color: #FFA500;
}

.hljs-title {
    color: #ae81ff;
}

.hljs-name {
    color: #a0a0c5;
}

.hljs-string {
    color: #6dfedf;
}

.nav-item {
    background-color: white;
    color: black;
    margin-right: 10px;
    padding: 2px;
}

.nav-header {
    background-color: #e4e4e4;
    display: inline-block;
}